.view-user{
    width: 500px;
    height: 90%;
   
}

.bd{
    border: 1px solid #000000;
}


.row1{
    height: 90%;
    width: 200px;
    float: left;
    
}

.row2{
    height: 90%;
    width: 200px;
    float: right;
}