.full-width-table {
  width: 100%;
}
.example-header{
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-top: 25px;
}