<div class="top-padding">
  <div class="col-md-4"></div>
  <div class="col-md-4 card-form-size">


    <mat-toolbar color="primary">Add User Info</mat-toolbar>
    <mat-card>
      <div class="example-container">


        <mat-form-field>
          <input matInput placeholder=" First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder=" Last Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder=" User Name">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter Email Address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter Total hit count">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Company Search Counter">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="User Status">
            <mat-option value="1">Active</mat-option>
            <mat-option value="0">DeActive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card>
  </div>
</div>