<div class="top-padding">
  <div class ="col-md-4"></div>
  <div class="col-md-4 card-form-size">


    <mat-toolbar color="primary">Add User Info</mat-toolbar>
    <mat-card>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="User Id">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="User Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter Email Address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter license Time">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select State">
            <mat-option value="1">Active</mat-option>
            <mat-option value="0">DeActive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card>
  </div>
</div>