<div class="example-container">



  <mat-toolbar color="primary" *ngIf="(isLoggedIn | async)">
    <mat-toolbar-row>
      <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span><img src="/assets/logo-2-e1465616757597.png" alt=""> </span>
      <span class="example-spacer"></span>
      <button mat-button>
        <mat-icon>account_box</mat-icon>User Dashboard
      </button>
      <!--  <button mat-button ></button>
      <button mat-button >Menu</button> -->
      <button mat-button>
        <mat-icon (click)="logout()">exit_to_app</mat-icon>Logout
      </button>

    </mat-toolbar-row>

  </mat-toolbar>




  <mat-sidenav-container class="example-sidenav-container">
    <!--     <ng-container>
      <mat-sidenav #drawer class="sidenav" fixedInViewport="false" opened="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'push' : 'side'">
        <mat-nav-list style="padding-top: 100px">
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="user-deshboard">User Dashboard</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="company-assign">Assign company</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="user-creation">User Creation</a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-sidenav>
    </ng-container>
 -->
    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>