<div class="container">
    <div class="wrapper">
        <form [formGroup]="sendEmailFrom" (ngSubmit)="onSubmit()">
            <mat-card class="forget-password">
                <h2>Forget Password</h2>
                <p>Enter your e-mail address and we'll send a link to reset your password</p>
                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your email address</mat-label>
                        <input matInput email  formControlName="email" placeholder="Enter your email address" required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
                <div class="example-button-row">
                    <button mat-flat-button color="primary">Submit</button>
                </div>
            </mat-card>
        </form>
    </div>
</div>